/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
    text-rendering: optimizeLegibility;
    background-color: #f5f5f5;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 1000px;
    justify-content: center;
    align-items: center;
    
    
       
}

.zbozi{
    display: flex;
    width: 670px;
    height: 440px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px;
    color: #959595; 
    position: absolute;   

}

.nazev{
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik';
}



/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */


h1 {
    font-weight: 500;
}



.bota{
 position: relative;
 left: -90px;
 
}

.logo,
.slogan,
.nazev,
.popis{
    margin-top: 30px;
    margin-left: 30px;
}

.cenovka{
    position: relative;
    
}

.cena{
    position: absolute;
    bottom: 50px;
    right: 30px;
    font-size: 28px;
    font-weight: 500px;
    font-family: 'Rubik';
    color: white;
    font-weight: 500;
    font-size: 28px;

}

.vizual{
    width: 50%;
    background-image: linear-gradient(#06d7c1, #50cc49);
    border-radius: 15px 0 0 15px;
    
}

.detaily{
    width: 50%;
    position: relative;
}

.zaruka{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-family: 'Rubik';
    font-size: 12px;
    color: white;
    font-weight: 400;
}

.slogan{
    font-family: 'Rubik';
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.produkt{
    margin-left: 30px;
    margin-top: auto;
    font-family: 'Rubik';
    font-size: 14px;
    color: #959599;
    font-weight: 400;
}

.popis{
    margin-right: 30px;
    padding-bottom: 30px;
    font-family: 'Rubik';
    font-size: 14px;
    color: black;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 2px solid #06d7c1;
}

.parametr{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.velikosti li{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-family: 'Rubik';
    color: black;
    font-weight: 400;
    
}

.vybrana:hover{
color: #f15f42;
border-radius: 50%;
border: 1px solid #f15f42;

}



.tlacitko{
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 10px 20px;
    color: white;
    background-color: #f15f42;
    border-radius: 10px;
    font-family: 'Rubik';
    font-size: 14px;
    text-transform: uppercase;
}






